<template>
    <div class="row">
        <div class="col-12 my-auto">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12" v-if="books.length > 0">
                        <div class="feature-item text-center align-self-center">
                            <i class="icon-book-open text-primary"></i>
                            <label for="languageDropdown"><h3>{{ chooselanguage }}</h3></label>
                            <select id="languageDropdown" v-model="book" name="book" @change="onBookSelected(book)"
                                    class="select">
                                <option v-for="book in books" v-if="book.id != null" :value="book">
                                    {{ book.native }} - {{ book.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" v-if="bookSelected" @load="loaded">
            <div class="device-container">
                <img :src="appurl + '/storage/' + myBook.cover_image" class="img img-responsive"
                     style="width: 100%">
            </div>
            <hr>
        </div>
        <div v-if="bookSelected" class="col-12 text-center" v-html="myBook.description" @load="loaded"></div>
        <!--<div v-if="bookSelected && captcha_visible" class="col-12 recaptcha">-->
        <!--<vue-recaptcha-->
        <!--ref="recaptcha"-->
        <!--@verify="onCaptchaVerified"-->
        <!--@expired="resetCaptcha"-->
        <!--size="v2"-->
        <!--sitekey="6Ldvd2sUAAAAAAqi21lFSUXm11bRG6dQ5JKP6epk">-->
        <!--</vue-recaptcha>-->
        <!--</div>-->
        <div class="col-12" v-if="bookSelected">
            <div class="text-center">
                <button class="btn btn-primary m-1" @click="onDownloadButtonClick(myBook,'hq')"><i
                    class="fa fa-download"></i> {{
                    highquality }}
                </button>
                <button class="btn btn-primary m-1" @click="onDownloadButtonClick(myBook,'lq')"><i
                    class="fa fa-download"></i> {{
                    lowquality }}
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "DownloadBook",
        props: [
            "slug",
            "url",
            "appurl",
            "chooselanguage",
            "highquality",
            "lowquality"
        ],
        data: function () {
            return {
                hq_file: null,
                lq_file: null,
                books: [],
                bookSelected: false,
                book: null,
                myBook: null,
                // captcha_visible: false,
                // verified: false,
                selected_book: null,
                download_type: null
            };
        },
        created: function () {
            this.getBooks(this.slug);
            // console.log(this.appurl);
        },
        methods: {
            addHeaders: function () {
                axios.defaults.headers.common = {
                    'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                    'X-Requested-With': 'XMLHttpRequest'
                };
            },
            getBooks: function (slug) {
                axios.get(this.url).then(response => {
                    this.books = response.data;
                    // console.log(this.books);
                });
            },
            onBookSelected: function (book) {
                // console.log(this.appurl);
                this.isLoad = false
                this.$nextTick(() => {
                    if (book !== null) {
                        // console.log(book);
                        this.bookSelected = true;
                        this.myBook = book;
                        // this.resetCaptcha();
                    } else {
                        this.bookSelected = false;
                    }
                })

            },
            loaded() {
                this.isLoad = true
            },
            onDownloadButtonClick(book, type) {
                this.onDownload(book, type);
            },
            onDownload: function (book, type) {
                // Pattern to extract extesnsion of downloaded file
                var patt1 = /\.([0-9a-z]+)(?:[\?#]|$)/i;
                let url = null;
                let ext = null;

                //Get url and extesnion of file being downloaded
                if (type === "hq") {
                    url = this.appurl + "/book/download-hq/" + book.id;
                    ext = JSON.parse(book.h_quality_file)[0].download_link.match(patt1);
                } else if (type === "lq") {
                    url = this.appurl + "/book/download-lq/" + book.id;
                    ext = JSON.parse(book.l_quality_file)[0].download_link.match(patt1);
                }

                //Perform download process
                this.performDownload(url, book, ext);
                axios.get(this.appurl + "/book/api/update-downloads/" + book.id);
                // console.log(url);
            },
            checkDownloadAttribute(){
                var dlAttrSupported = (function () {
                    return !!("download" in document.createElement("a"));
                }());
                return dlAttrSupported;
            },
            performDownload(url, book, ext) {
                if(this.checkDownloadAttribute()) {
                    axios.get(url, {responseType: "arraybuffer", 'X-CSRF-TOKEN': this.csrf}).then(response => {
                        const url = window.URL.createObjectURL(
                            new Blob([response.data], {type: response.headers["Content-Type"]})
                        );
                        const link = document.createElement("a");
                        link.href = url;
                        link.setAttribute("download", book.title + ext[0]);
                        document.body.appendChild(link);
                        link.click();
                    });
                } else {
                    window.location.assign(url);
                }

            }
            //,
            // onCaptchaVerified(token) {
            //     console.log(token);
            //     // this.resetCaptcha();
            //     this.captcha_visible = false;
            //     this.onDownload();
            //     // this.resetCaptcha();
            // },
            // resetCaptcha() {
            //     if (this.$refs.recaptcha) this.$refs.recaptcha.reset();
            // }
        }
    };
</script>


<style>
    .select {
        min-width: 100%;
        padding: 5px;
        font-size: large;
    }

    .recaptcha > div > div {
        margin: auto;
    }
</style>

