// Import font(s) from google.

// Mixins
@font-face {
    font-family: 'icomoon';
    src: url('https://cdn.jsdelivr.net/npm/icomoon@1.0.0/fonts/icomoon.eot');
    src: url('https://cdn.jsdelivr.net/npm/icomoon@1.0.0/fonts/icomoon.eot') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/npm/icomoon@1.0.0/fonts/icomoon.ttf') format('truetype'),
    url('https://cdn.jsdelivr.net/npm/icomoon@1.0.0/fonts/icomoon.woff') format('woff'),
    url('https://cdn.jsdelivr.net/npm/icomoon@1.0.0/fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css');

//@import 'node_modules/@mdi/font/scss/materialdesignicons';


@mixin icomoon() {

    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

@mixin inline-block() {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

// Variables
$font-primary: 'Droid Arabic Naskh', 'Rubik', sans-serif;
$font-secondary: 'Droid Arabic Naskh', 'Inconsolata', monospace;
$brand-primary: #96c7f5;
$brand-primary-dark: #1a76e8;
$brand-secondary: #ddf0f3;
$brand-black: #000000;
$brand-white: #ffffff;
$brand-dropdown: #FDBE34;
$brand-body-text-color: #7e8890;
$brand-heading-text-color: #374252;

$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 480px;

@mixin gradient($firstcolor, $secondcolor) {
    background: rgba($firstcolor, 1);
    background: -moz-linear-gradient(left, rgba($firstcolor, 1) 0%, rgba($secondcolor, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba($firstcolor, 1)), color-stop(100%, rgba($secondcolor, 1)));
    background: -webkit-linear-gradient(left, rgba($firstcolor, 1) 0%, rgba($secondcolor, 1) 100%);
    background: -o-linear-gradient(left, rgba($firstcolor, 1) 0%, rgba($secondcolor, 1) 100%);
    background: -ms-linear-gradient(left, rgba($firstcolor, 1) 0%, rgba($secondcolor, 1) 100%);
    background: linear-gradient(to right, rgba($firstcolor, 1) 0%, rgba($secondcolor, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$firstcolor, endColorstr=$secondcolor, GradientType=1);
}
