// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$blue1: #a3c2ff;
$blue-dark: #1a76e8;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
    &::before,
    &::after {
        content: '';
        display: table;
    }
    &::after {
        clear: both;
    }
}

.next-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

// Base styles
.card {
    float: left;
    padding: 0 1.7rem;
    width: 100%;
    border:0;
    color: $black;
    .menu-content {
        @include cf;
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            display: inline-block;
        }
        a {
            color: $blue-dark;
        }
        span {
            position: absolute;
            left: 50%;
            top: 0;
            font-size: 10px;
            font-weight: 700;
            transform: translate(-50%, 0);
        }
    }
    .wrapper {
        background-color: $white;
        min-height: 350px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
        &:hover {
            .data {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    .data {
        background: $white;
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: translateY(calc(70px + 1em));
        transition: transform 0.3s;
        .content {
            color: $black;
            padding: 1em;
            position: relative;
            z-index: 1;
        }
    }
    .author {
        font-size: 12px;
        font-style: italic;
    }
    .title {
        font-size: 20px;
        margin-top: 10px;
    }
    .text {
        height: 70px;
        margin: 0;
        font-size: 15px;
    }
    input[type='checkbox'] {
        display: none;
    }
    input[type='checkbox']:checked + .menu-content {
        transform: translateY(-60px);
    }
}

.books-card {
    .wrapper {
        
        &:hover {
            .menu-content {
                span {
                    transform: translate(-50%, -10px);
                    opacity: 1;
                }
            }
        }
    }
    .header {
        @include cf;
        color: $white;
        padding: 1em;
        .date {
            float: left;
            font-size: 12px;
        }
    }
    .menu-content {
        float: right;
        li {
            margin: 0 5px;
            position: relative;
        }
        span {
            transition: all 0.3s;
            opacity: 0;
        }
    }
    .data {
        color: $white;
        transform: translateY(calc(70px + 4em));
    }
    .title {
        color: $blue-dark;
        a {
            color: $blue-dark;
        }
    }
    .button {
        display: block;
        width: 100px;
        margin: 2em auto 1em;
        text-align: center;
        font-size: 12px;
        color: $blue-dark;
        line-height: 1;
        position: relative;
        font-weight: 700;
        &::after {
            content: '\2192';
            opacity: 0;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            transition: all 0.3s;
        }
        &:hover {
            &::after {
                transform: translate(5px, -50%);
                opacity: 1;
            }
        }
    }
}

.book-description {
    font-size: 15px;
}
